venv
*~
site/
.lock-waf*
.waf-*
.wafpickle*
c4che
config.log
upload.sh
index.md
*.md
auto
*.aux
*.fdb_latexmk
.fls
*.fls
*.log
*.out
*.snm
*.toc
*.vrb
*.nav
*.html
*.pdf
*.tex
sitemap.org
theindex.inc
theindex.org

web
