os: bionic

git:
  clone: false
  submodules: false

services:
  - docker

before_install:
  - docker pull brettviren/wct-documentation

script:
  - docker run brettviren/wct-documentation ./update.sh


