_region_.*
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
wire-cell.pdf
*.autosave
auto
Progress_Wire_Cell-Xin.pptx
big-flow.pdf
big-flow.png
concentric.pdf
cut.tex
dataflow.pdf
deps.pdf
deps.png
example-hit-cells.pdf
framing.pdf
frank-abuse.pdf
larsoft-requirements.org
signal-frames.zip
sim-flow.pdf
sim-flow.png
slice-3D.pdf
slice.pdf
wc-ls.pdf
